
html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron {
    height: 400px;
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    color: #eaeaea;
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

hr {
    width: 250px;
    border: 2px solid rgb(148, 145, 145);
}

section {
    min-height: 600px;
}

.pkiri, .pkanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pkanan {
    transform: translate(50px, 0) rotate(-15deg);
    transition: 1s;
}

.pkiri.pMuncul, .pkanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portofolio {
    background-color: #eee;
}

.portofolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portofolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top: 45px;
}

footer p {
    color: #ccc;
    font-size: 0.9em;
}

footer p i {
    color: salmon;
}